.hotel-header {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 60px 20px; 
  height: 150px;
  font-family: "Inter", sans-serif;
}

.hotel-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}

.hotel-header .hotel-name {
  font-size: 2rem;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  color: white;
}

.hotel-header-details {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
  color: white;
}

.hotel-location {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.location-icon {
  font-size: 1.2rem;
  color: white;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.5); 
  color: #0a66bb;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.back-arrow:hover {
  background: rgba(255, 255, 255, 0.7);
}

.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 12px;
  padding: 3%;
}

.hotel-description {
  padding: 20px;
  font-family: "Inter", sans-serif;
  margin-left: 21px;
}

@media (max-width: 900px) {
  .room-card {
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

@media (max-width: 600px) {
  .room-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
